.button{
    color: #FFF;
    text-align: center;
    
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border: none;
    fill: #C70101;  
}
